# Ignore macOS system files
.DS_Store

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.venv/
env/

# Ignore the Google client secrets file
client_secret_*.json

# Ignore pytest cache
.pytest_cache/

# Ignore other log or temporary files
*.log
*.tmp
